# ==============================================================================
# SSIPMS Environment Configuration Template
# ==============================================================================

# HTTP Web Server Port (Default: 8080)
PORT=8080

# Relative or Absolute Path to CSV Database
DATA_FILE_PATH=data/students.csv

# Application Environment Mode (development | production)
APP_ENV=production

# CORS Allowed Origin (Default: * for development, specify domain in production)
CORS_ALLOW_ORIGIN=*
